@use "@angular/material" as mat;
@include mat.core();

// === Light Theme ===
$light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$light-accent: mat.m2-define-palette(mat.$m2-pink-palette);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// === Dark Theme ===
$dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// === Theme Classes ===
.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
